/* .cardShow {
    /* padding-left: 2.5em; */
/* margin: 0 20px; */
/* display: flex; */
/* gap: 20px; */
/* } */

.cardShow .card {
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.25em 0.75em;
    border: 2px solid rgba(54, 54, 54, 0.103);
}

/* .react-multi-carousel-item {
    width: 100% !important;
} */

.react-multiple-carousel__arrow--right {
    right: calc(1% + 0.0625em) !important;
}

.react-multiple-carousel__arrow--right:hover {
    background-color: #252525 !important;
}

.react-multiple-carousel__arrow--left {
    left: calc(1% + 0.0625em) !important;
}

.react-multiple-carousel__arrow--left:hover {
    background-color: #252525 !important;
}