.rightSide {
    width: 40%;
    padding: 1.25em;
    border: 0.1px solid #7f7f7f7d;
    border-radius: 0.5em;
}

.leftSide {
    width: 60%;
}

.contImgID {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDetail {
    -webkit-box-shadow: 0.25em 0.125em 0.8125em -0.4375em rgba(0, 0, 0, 1);
    -moz-box-shadow: 0.25em 0.125em 0.8125em -0.4375em rgba(0, 0, 0, 1);
    box-shadow: 0.25em 0.125em 0.8125em -0.4375em rgba(0, 0, 0, 1);
}

.imgID {
    height: 31.25em;
    width: 37.5em;
}

/* .productNameID {
    margin-bottom: 0;
} */

.priceID {
    display: block;
    font-size: 2.0625em;
    line-height: 2em;
    padding-top: 0.25em;
    font-weight: 500;
}

.messageID {
    font-weight: 500;
    display: block;
}

.contIconsID {
    margin-top: 0.9375em;
}

.mercadoPagoIcon,
.naranjaIcon,
.visaIcon,
.americanExpressIcon,
.mastercardIconn,
.brubankIcon {
    margin-top: 0.625em;
    width: 5.3125em;
    margin-right: 1.25em;
}

.mastercardIcon {
    margin-right: 0.625em;
    font-size: 3.75em;
    color: #F79E1B;
}

.brubankIcon {
    width: 6.25em;
}

.topSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
}

.btnBuyID {
    float: right;
    width: 50%;
    margin: 0 50px;
}