.checkoutProd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;

    img {
        width: 20%;
        height: 5em;
    }

    .checkoutProdTitle {
        width: 60%;
        font-weight: 500;
        font-size: 1.0625em;
    }

    .checkoutProdPrice {
        width: 20%;
        font-size: 1.0625em;
        font-weight: 600;
    }
}