.contCard {
    /* grid, and divide in 4 columns */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    margin-top: 0.625em;
    /* margin-bottom: 0.625em; !    */
    width: 100%;
    margin: 0 auto;
}